<%# stackoverflow.com/questions/45065065/rails-5-redirect-notice-style %>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>">
    <%= message %>
  </div>
<% end %>
<%# end of reference %>

<div class="container bg-white py-5 px-3 mb-3 border border-1">
  <div class="jumbotron">
    <h1 class="display-4"><%= @teacher.first_name %> <%= @teacher.last_name %></h1>
    <hr class="my-3">
    <p class="lead">Campus ID: <%= @teacher.nine_hundred %></p>
    <p class="lead">Email: <%= @teacher.email %></p>
    <p class="lead">Office: <%= @teacher.office ? @teacher.office.name : "NONE" %></p>
  </div>
</div>

<%= link_to 'Edit', edit_teacher_path(@teacher), class:"btn btn-secondary" %>
<%= link_to 'Back', teachers_path, class:"btn btn-secondary" %>
